@charset "utf-8";
/* CSS Document */

body{
	background-color:#000;
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	text-align:center;
}

#storbox{
	background-color:#FFF; 
	width:80%;
	height:100%;
	position:absolute;
	margin-left:10%;
}

header{
	padding-top:50px;
	box-sizing:border-box;
	background-color:#FFF;
	width:100%;
	height:20%;
	font-family:"Times New Roman", Times, serif;
	font-size:40px;
	text-align:center;
}
nav{
	background-color:#666;	
	width:100%;
	height:6%;
	overflow:hidden;
}
article{
	background-color:#666;
	width:70%;
	height:60%;
	float:left;
	margin:0;
	padding:0;
}

aside{
	background-color:#CCC;
	width:30%;
	height:60%;
	float:left;
	font-size:20px;
	padding-top:120px;
	box-sizing:border-box;
}

footer{
	background-color:#FFF;
	width:100%;
	height:13%;
	clear:left;
}


#kvadrat{
	background-color:#FFF;
	width:100%;
	height:100%;
	padding-top:10px;
	box-sizing:border-box;
}

.ruta{
	width:50%;
	height:50%;
	float:left;
	font-size:20px;
}